.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.4rem;
  background-color: var(--color-black);
  border-bottom: 1px solid var(--color-dark-grey-3);

  @include respond(desktop) {
    padding: 0;
    justify-content: space-between;
  }
}
