.price {
  display: flex;
  justify-content: space-between;

  &--total {
    margin: 2rem 0;
  }

  &__title {
    color: var(--color-light-grey-4);
    text-transform: uppercase;
  }

  &__amount {
    font-size: 1.8rem;
    font-weight: 700;

    &--primary {
      color: var(--color-primary);
    }

    &--white {
      color: var(--color-white);
    }
  }
}
