.item-preview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  & img {
    max-width: 6rem;
    border-radius: 8px;

    @include respond(tab) {
      max-width: 8rem;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 1.6rem;

    h6 {
      font-size: 1.5rem;
      line-height: 1.2;

      @include respond(tab) {
        font-size: 1.7rem;
      }
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
  }
}
