@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --color-primary: #d87d4a;
  --color-primary-light: #fbaf85;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dark-grey: #101010;
  --color-dark-grey-2: #191919;
  --color-dark-grey-3: #4c4c4c;
  --color-light-grey: #f1f1f1;
  --color-light-grey-2: #fafafa;
  --color-light-grey-3: #cfcfcf;
  --color-light-grey-4: #979797;
  --color-red: #cd2c2c;

  --font-family: "Manrope", sans-serif;

  --font-weight-reg: 400;
  --font-weight-md: 500;
  --font-weight-bold: 700;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: var(--font-family);
  font-size: 62.5%;
  color: var(--color-grey-dark);
}

body {
  box-sizing: border-box;
  font-size: 1.5rem;
  line-height: 25px;
  font-weight: 500;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: 1px solid var(--color-primary);
  outline-offset: -1px;
}

button {
  cursor: pointer;
}

*:disabled {
  cursor: not-allowed;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}
